USE [Bds_CShap]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageProduct]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageProduct](
	[ImgId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImgName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_ImageProduct] PRIMARY KEY CLUSTERED 
(
	[ImgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DateUp] [date] NOT NULL,
	[ImgAvar] [nvarchar](255) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[RegionalId] [int] NOT NULL,
	[LetterPrice] [nvarchar](50) NOT NULL,
	[NoPrice] [bigint] NOT NULL,
	[DateUp] [date] NOT NULL,
	[LinkGGMap] [nvarchar](max) NULL,
	[AreaM2] [float] NULL,
	[HorizontalM] [float] NULL,
	[Status] [bit] NOT NULL,
	[ImgAvar] [nvarchar](250) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regional]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regional](
	[RegionalId] [int] IDENTITY(1,1) NOT NULL,
	[RegionalName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Regional] PRIMARY KEY CLUSTERED 
(
	[RegionalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](250) NOT NULL,
	[Dob] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[RoleId] [int] NOT NULL,
	[ImgAvar] [nvarchar](250) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRequest]    Script Date: 7/14/2022 9:35:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRequest](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UseId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DateRequest] [date] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_UserRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Căn hộ')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Đất nền')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Nhà Phố')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageProduct] ON 

INSERT [dbo].[ImageProduct] ([ImgId], [ProductId], [ImgName]) VALUES (1, 14, N'63a63e69-f9a5-4a62-9043-516af91fef39.jpg')
INSERT [dbo].[ImageProduct] ([ImgId], [ProductId], [ImgName]) VALUES (2, 13, N'705452ae-0525-439b-86ee-bf5615076c92.jpg')
INSERT [dbo].[ImageProduct] ([ImgId], [ProductId], [ImgName]) VALUES (5, 3, N'abd2179c-925b-46b0-9401-be95d69fe069.jpg')
SET IDENTITY_INSERT [dbo].[ImageProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Regional] ON 

INSERT [dbo].[Regional] ([RegionalId], [RegionalName]) VALUES (1, N'Cam lâm')
INSERT [dbo].[Regional] ([RegionalId], [RegionalName]) VALUES (2, N'Diêm Khánh')
INSERT [dbo].[Regional] ([RegionalId], [RegionalName]) VALUES (3, N'Khánh Vĩnh')
SET IDENTITY_INSERT [dbo].[Regional] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'khách hàng')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [FullName], [Email], [Password], [Phone], [Dob], [Gender], [RoleId], [ImgAvar]) VALUES (2, N'Chu Văn Trai', N'111@gmail.com', N'MTIz', N'0123456711', CAST(N'2002-09-15' AS Date), 1, 1, NULL)
INSERT [dbo].[User] ([UserId], [FullName], [Email], [Password], [Phone], [Dob], [Gender], [RoleId], [ImgAvar]) VALUES (4, N'Chu văn Trai', N'0362351671trai@gmail.com', N'MTIz', N'0362351671', CAST(N'1990-06-27' AS Date), 1, 1, N'3513e9f5-5dea-48a6-9512-24d9e5b856d7.png')
INSERT [dbo].[User] ([UserId], [FullName], [Email], [Password], [Phone], [Dob], [Gender], [RoleId], [ImgAvar]) VALUES (5, N'Trai CV', N'traicvhe153014@fpt.edu.vn', N'MTIz', N'0112345679', CAST(N'1998-07-07' AS Date), 1, 2, N'35b3bee4-fa02-4e23-8934-d03535af551c.jpg')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRequest] ON 

INSERT [dbo].[UserRequest] ([RequestId], [UseId], [Content], [DateRequest], [Status]) VALUES (1, 4, N'haha', CAST(N'2022-07-10' AS Date), 1)
INSERT [dbo].[UserRequest] ([RequestId], [UseId], [Content], [DateRequest], [Status]) VALUES (2, 4, N'gg', CAST(N'2022-07-10' AS Date), 1)
INSERT [dbo].[UserRequest] ([RequestId], [UseId], [Content], [DateRequest], [Status]) VALUES (3, 4, N'r', CAST(N'2022-07-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[UserRequest] OFF
GO
ALTER TABLE [dbo].[ImageProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImageProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ImageProduct] CHECK CONSTRAINT [FK_ImageProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Regional] FOREIGN KEY([RegionalId])
REFERENCES [dbo].[Regional] ([RegionalId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Regional]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserRequest]  WITH CHECK ADD  CONSTRAINT [FK_UserRequest_User] FOREIGN KEY([UseId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserRequest] CHECK CONSTRAINT [FK_UserRequest_User]
GO
