@page "/tao-bat-dong-san"
@using WebBDS.Application.DataStatic
@model WebBDS.Pages.Private.Product.CreateProduct

@{
    
}
<style>
    textarea{
        line-height: 1.5em;
        padding-top: 0.5rem;
    }
    .row-image-main{
        display: flex;
        justify-content: center;
    }
    .border-image{
        position: relative;
        width: 45%;
        overflow: hidden;
        aspect-ratio: 1.3;
        display: flex;
        justify-content: center;
        align-items: center;
        background: gainsboro;
    }
    .icon-image{
        width: 3.5rem;
        position: absolute;
    }
    .image-file-bg{
        display: none;
        filter: blur(5px);
    }
    .image-main{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }
    #number-image{
        right: 0.5rem;
        bottom: -1rem;
        left: auto;
        position: absolute;
        font-size: 1.5em;
        color: #fff;
    }
    .border-submit{
        display: flex;
        justify-content: center;
        padding-top: 1.5rem;
    }
    .border-submit button{
        height: 3rem;
        border-radius: 0.6rem;
        border: 0;
    }
</style>
<section class="whats-news-area pt-30 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 border-title-head">
                <div class="section-tittle mb-30">
                    <h3>Tạo bất động sản</h3>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 border-fil">
                <label class="text-black-50 m-0">Tên BĐS <span class="text-danger">*</span></label>
                <input type="text" id="ProductName" placeholder="Tên BĐS" required class="single-input-primary">
                <div class="row">
                    <div class="col-6">
                        <p class="text-black-50 m-0">Loại BĐS </p>
                        @* <input type="text" name="CategoryId" placeholder="Loại BĐS" required class="single-input-primary"> *@
                        <select id="category-checkbox">
                            @foreach (var category in CategoryProduct.AllCategoryProduct)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="col-6">
                        <p class="text-black-50 m-0">Khu vực </p>
                        @* <input type="text" name="RegionalId" placeholder="Khu vực" required class="single-input-primary"> *@
                        <select id="address-checkbox">
                            @foreach (var address in AddressProduct.AllAddressProduct)
                            {
                                <option value="@address.RegionalId">@address.RegionalName</option>
                            }
                        </select>
                    </div>
                </div>
                <label class="text-black-50 m-0">Giá <span class="text-danger">*</span></label>
                <input type="text" id="NoPrice" placeholder="Giá" required class="single-input-primary">
                <label class="text-black-50 m-0">Diện tích <span class="text-danger">*</span></label>
                <input type="text" id="AreaM2" placeholder="Diện tích" required class="single-input-primary">
                <label class="text-black-50 m-0">Mặt tiền (m²) <span class="text-danger">*</span></label>
                <input type="text" id="HorizontalM" placeholder="Mặt tiền" class="single-input-primary">
                <label class="text-black-50 m-0">Link GoogleMap </label>
                <input type="text" name="LinkGgmap" placeholder="Link GoogleMap" class="single-input-primary">
                <label class="text-black-50 m-0">Mô tả <span class="text-danger">*</span></label>
                <textarea type="text" rows="5" id="Description" placeholder="Mô tả" required class="single-input-primary" style="line-height: 30px"></textarea>
                <label class="text-black-50 m-0">Ảnh chính BĐS <span class="text-danger">*</span></label>
                <div class="row-image-main">
                    <div class="border-image" id="border-image-main">
                        <img class="w-100 h-100 image-file-bg" src="#" id="image-main-bg">
                        <img class="image-main w-100 h-100" src="#" id="image-main" alt="loading...">
                        <img class="icon-image" src="~/images/upload-image.png" alt="loading...">
                    </div>
                    <input
                        hidden
                        type="file"
                        id="file-image-main"
                        class="input-file-image"
                        accept=".png, .jpg, .jpeg"/>
                </div>

                @* <input type="text" name="ImgAvar" placeholder="Ảnh chính BĐS" required class="single-input-primary"> *@
                <label class="text-black-50 m-0">Ảnh khác BĐS </label>
                <div class="row-image-main">
                    <div class="border-image" id="border-image-other">
                        <img class="w-100 h-100 image-file-bg" src="#" id="image-other-bg">
                        <img class="image-main w-100 h-100" src="#" id="image-other" alt="loading...">
                        <img class="icon-image" src="~/images/upload-many-image.png" alt="loading...">
                        <p id="number-image">+0</p>
                    </div>
                    <input
                        hidden
                        multiple
                        type="file"
                        id="file-image-other"
                        class="input-file-image"
                        accept=".png, .jpg, .jpeg"/>

                </div>
                <div class="border-submit">
                    <button onclick="SubmitFrom()" type="button" class="btn-modal color5 w-50">Tạo BĐS</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
let productName = $('#ProductName').val();
let categoryCheckbox = $('#category-checkbox').val();
let addressCheckbox = $('#address-checkbox').val();
let noPrice = $('#NoPrice').val();
let AreaM2 = $('#AreaM2').val();
let HorizontalM = $('#HorizontalM').val();
let LinkGgmap = $('#LinkGgmap').val();
let Description = $('#Description').val();
let imageMain = $('#file-image-main');
let imageOther = $('#file-image-other');
$(document).ready(function() {
  InputMask('NoPrice',0);
  InputMask('AreaM2',1);
  InputMask('HorizontalM',1);
});
$("#border-image-main").click(function() {
    $("#file-image-main").click();
});
$("#border-image-other").click(function() {
    $("#file-image-other").click();
});
$("#file-image-main").change(function() {
    ChangeImage('image-main','image-main-bg',this);
});
$("#file-image-other").change(function() {
    ChangeImage('image-other','image-other-bg',this);
    $('#number-image').text('+'+this.files.length);
});
function ChangeImage(idImg,idImgBg,file) {
    const imageMain = $("#"+idImg);
    const imageMainBg = $("#"+idImgBg);
    if (file.files.length===0){
        imageMain.hide();
        imageMainBg.hide();
        return;
    }
    if (file.files && file.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
          imageMain.attr("src", e.target.result);
          imageMain.show();
          imageMainBg.attr("src", e.target.result);
          imageMainBg.show();
      };
      reader.readAsDataURL(file.files[0]);
    }
}
function SetValueProduct() {
  productName = $('#ProductName').val();
  categoryCheckbox = $('#category-checkbox').val();
  addressCheckbox = $('#address-checkbox').val();
  noPrice = $('#NoPrice').val();
  AreaM2 = $('#AreaM2').val();
  HorizontalM = $('#HorizontalM').val();
  LinkGgmap = $('#LinkGgmap').val();
  Description = $('#Description').val();
  imageMain = $('#file-image-main');
  imageOther = $('#file-image-other');
}
function SubmitFrom() {
    SetValueProduct();
    if (productName !== '' && noPrice !== '' && AreaM2 !== '' &&
    HorizontalM !== '' && Description !== '' &&
    imageMain[0].files[0] != null && imageOther[0].files[0] != null){
        var listFormData = ConverToFormData(imageOther[0].files,imageMain[0].files[0]);
       CreateImageProduct(listFormData);
    }
}
let nameImageMain = [];
let nameImageOther = [];
function CreateImageProduct(imageFiles) {
  $.ajax({
      url: '/api/File/CreateListImage',
      type: "POST",
      data: imageFiles,
      contentType: false,
      processData: false,
      success: function (response) {
          CreateProduct(response.data);
      },
      error: function () {
          alert('Tạo thất bại');
      }
  });
}
function ConverToFormData(listFile,fileMain) {
    var formData = new FormData();
    formData.append('imageFile', fileMain);
    for (var i = 0; i < listFile.length; i++) {
        formData.append('imageFile', listFile[i]);
    }
    return formData;
}


function CreateProduct(listImage) {
  const imgAvatar = listImage[0];
  listImage.shift();
  $.ajax({
    url: '/api/Product/CreateProduct',
    type: "POST",
    data: {
        ProductName: productName,
        CategoryId: categoryCheckbox,
        RegionalId: addressCheckbox,
        NoPrice: noPrice.replace(/,/g, ""),
        AreaM2: AreaM2.replace(/,/g, ""),
        HorizontalM: HorizontalM.replace(/,/g, ""),
        LinkGgmap: LinkGgmap,
        Description: Description,
        ImgAvatar: imgAvatar,
        ListImgOther: listImage,
    },
    success: function (response) {
        alert('Tạo thành công');
    },
    error: function () {
        alert('Tạo thất bại');
    }
  });
}
</script>