/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2022, 5:19:57 PM
    Author     : 03623
*/

/* footer */
footer{
    background-color: #1c2331;
    color: #f7f7f7;
}
.footer-copyright{
    background-color: #161c27;
}
.ket1{
    padding-top: 20px;
}
/* footer */

/* nav */
.carousel img{
    max-width: 100%;
    height: 192px;
}
.card{
    height: 400px;
}
/* nav */

section{
    padding: 0px;
}

.bg-dark{
    background-color: #343a40;
}
.news0{
    background-color: #f7f7f7;
    width: 101%;
}
.news1{
    padding-top: 20px;
    text-align: center;
    background-color: #f7f7f7;
}
.news1 p{
    font-size: 13px;
}
.news2{
    background-color: #f7f7f7;
}
.news2 img{
    padding-left: 10px;
}
.news2 h5{
    color: white;
}
.news0 a{
    text-decoration: none; 
}
.news3{
    background-color: #f7f7f7;
}
.news3 img{
    width: 100%;
    height: 150px;
    padding-left: 10px;
}
.news3 .card{
    height: auto;
}
.news3 h5{
    color: black;
}
.thanhkv{
    padding-top: 13px;
}
.gtt1 img{
    width: 90%;
    padding-top: 15px;
    padding-left: 35px;
}
.gtt1{
    width: 101%;
}
.solution-content{
    padding-left: 35px;
}
.gtt12{
    width: 100%;
}
.gg1{
    margin-left: 15px;
    margin-right: 15px;
}
.dv0{
    padding-top: 10px;
    padding-bottom: 25px;
}
.dv1{
    font-size: 21px;
}
.dv2{
    font-size: 21px;
}

