.p {
    color: #78E7DE;
    color: #E3F2FD;
    color: #CCE5FF;
    color: #36AEFC;
    color: #1E9EFF; /* main color*/
    color: #072442;
    color: #1C2331;
    color: #161C27;
    /*aspect-ratio: 1.33;*/
}

strong {
    background: #0a2b1d !important;
}
.weekly-caption{
    background: #00000073 !important;
}
.weekly-caption h4{
    color: antiquewhite;   
}
.weekly-img img{
    aspect-ratio: 1.33;
}
.price-item1{
    margin-left: auto;
}
.title-pro-home{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (max-width: 767px) {
    .ticker-wrapper p {
        font-size: 10px !important;
    }
    .title-news-home h5 {
        text-align: center;
    }
    .title-news-item-home{
        max-width: 70% !important;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        background: linear-gradient(to bottom,aliceblue 70%, #ffffff 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .title-news-item-home-2{
        height: 2.1rem;
        padding-top: 0.75rem;   
    }
    .trand-right-img{
        width: 40% !important;
        min-width: 40% !important;
    }
    .trand-right-img img{
        width: 100%;
        height: 90%;
    }
    .trand-right-cap a{
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .date-news-item2{
        padding: 0px 0.8rem;
        margin-left: auto;
    }
    .footer-border{
        padding: 0px;
    }
    #news-1 .trend-top-cap{
        width: 100%;
    }
    #news-1 h2{
        width: 70%;
    }
}