@media (max-width: 767px) {
    section{
        padding-top: 20px !important;
        padding-bottom: 0px;
    }
    .content-news article{
        max-width: 100% !important;
    }
    .related-news-header{
        display: flex;
    }
    .post_item img{
        aspect-ratio: 1.7;
        width: 40%;
        border-radius: 8px;
    }
}