.logo-text img{
    height: 3.7rem;
}
.color-price{
    color: #2eff72 !important;
}
.color5{
    background: #1E9EFF;
}
.color6{
    background: #36AEFC;
}
.color7{
    background: #6c757d;
}
.color8{
    background: #8beaff;
}
.color9{
    background: #93acff;
}
.color10{
    background: #d89dff;
}
.color11{
    background: #ff90d8;
}
.text-color1{
    color: #6c757d;
}
.text-color2{
    color: #8beaff;
}
.text-col2{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.text-col1{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.ratio-news{
    aspect-ratio: 1.7;
}
.btn-page{
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 1.9rem;
    justify-content: center;
}

@media (max-width: 767px) {
    .btn-more{
        padding: 6px;
        border-radius: 30px;
        color: #ffff;
    }
    
}