@{
    ViewBag.Title = "title";
}
<link rel="stylesheet" href="/css/NewsDetail.css">
<!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img" id="MainIMG">
                  </div>
                  <div class="blog_details">
                     <h2 id="Title">
                     </h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                        <li><a href="#"><i class="bi bi-calendar-minus"></i><span id="Date"></span></a></li>
                     </ul>
                     <div class="content-news" id="Content">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget popular_post_widget">
                     <div class="related-news-header">
                        <h3 class="widget_title">Tin liên quan</h3>
                        <a style="margin-left: auto">
                           <span class="color6 btn-more">xem thêm</span>
                        </a>
                     </div>
                     <span id="NewsMore">
                        
                     </span>
                  </aside>
                  <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Hashtag</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->
<script src="/js/NewsDetailView.js"></script>
